*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --WhiteText: hsl(0, 0%, 100%);
    --font: 'Outfit', sans-serif;
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}

body{
    background-color: var(--mainBG);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.card{
    width: 320px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cardBG);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.055);
}

.container_nft_img{
    width: 100%;
    height: 100%;
    position: relative;
   
    
}
.container_view{
    width: 100%;
    height: 270px;
    z-index: 1;
    background-color:hsla(178, 100%, 50%, 0.404);
   display: none;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}
.icon_view{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
   
}

.img_nft{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title_card{
    color: var(--WhiteText);
    margin: 30px 0px;
    font-family: var(--font);
    font-size: 24px;
    text-decoration: none;
}

.p_description{
    font-family: var(--font);
    color: var(--Softblue);
    margin-bottom: 20px;
}

.container_price_days{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--line);
}

.price{
    color:var(--Cyan);
    font-family: var(--font);
    display: flex;
    align-items: center;
}

.icon_ethe{
    margin-right: 8px;
}

.days{
    display: flex;
    align-items: center;
    color: var(--Softblue);
    font-family: var(--font);
}
.icon_clock{
    margin-right: 8px;
    align-self: center;
}

.container_avatar{
    display: flex;
    align-items: center;
}

.img_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid  var(--WhiteText);
    margin-right: 20px;
}
.info_avatar{
    color: var(--Softblue);
    font-family: var(--font);
}

.info_avatar  a{
    text-decoration: none;
    
    color: var(--WhiteText);
}
.info_avatar  a:visited{
    color: var(--WhiteText);
}

.title_card:hover{
    color: var(--Cyan);
}

.info_avatar a:hover{
  
    color: var(--Cyan);
}

.container_nft_img:hover > .container_view{
    display: block;
    cursor: pointer;
}

.attribution{
    bottom: 0;
    position: absolute;
    margin: 10px;
    color: #fff;
    
}
.attribution a{
    text-decoration: none;
    color: var(--Cyan);
    
}

.attribution a:hover{
    text-decoration: underline;
}